<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_tahu"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo_tahu"
        android:supportsRtl="true"
        android:theme="@style/Theme.tahhu"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.tahhu.id.CatatanActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.CalenderActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.FullScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_full_screen"
            android:theme="@style/Theme.tahhu.Fullscreen" />
        <activity
            android:name="com.tahhu.id.CartProductActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.ShortVidio"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.cctv"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.rideSharing"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.CarSelectionActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.BikeSelectionActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.FoodActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.CheckoutActivityFood"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.PaymentActivityFood"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.PaymentActivityRideSharing"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.PaymentActivitySecurity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.SecurityActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.DurationActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.UserSettingActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.EditSecurityPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.UserSecurityPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.SecurityQuestionsActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.UserAddPaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.UserAboutUsActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.UserPrivacyPolicyActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBLDcW-OLHkjLjJjBvT_YYdtKiYAQ9uXG4" />

        <service
            android:name="com.tahhu.id.BackgroundSoundService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.tahhu.id.SelectionTransport"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.Survey"
            android:exported="false" />
        <activity android:name="com.tahhu.id.TVStreamingActivity" />
        <activity
            android:name="com.tahhu.id.finance"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.KirimBarangActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.PaymentKirimBarangActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.UcoActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.PaymentUcoActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.PanduanUcoActivity"
            android:exported="false" />

        <activity android:name="com.tahhu.id.TukarMinyakActivity"
            android:exported="false" />

        <activity android:name="com.tahhu.id.LokasiPenukaranActivity"
            android:exported="false" />

        <activity android:name="com.tahhu.id.OrderPenjemputanActivity"
            android:exported="false" />

        <activity android:name="com.tahhu.id.PaymentActivityMarketplace"
            android:exported="false" />

        <activity android:name="com.tahhu.id.DialogOrderFinishedMarketplace"
            android:exported="false" />

        <activity android:name="com.tahhu.id.DialogOrderFinishedUco"
            android:exported="false" />

        <activity android:name="com.tahhu.id.DialogOrderFinishedKirimBarang"
            android:exported="false" />

        <activity android:name="com.tahhu.id.DialogRatingRideSharing"
            android:exported="false" />

        <activity android:name="com.tahhu.id.DialogOrderFinishedFood"
            android:exported="false" />

        <activity android:name="com.tahhu.id.ShoppingListActivity"
            android:exported="false" />

        <activity android:name="com.tahhu.id.LoginActivity"
            android:exported="false" />

        <activity android:name="com.tahhu.id.SignUpActivity"
            android:exported="false" />

        <activity android:name=".CalendarSpendingActivity"
            android:exported="false" />

        <activity
            android:name="com.tahhu.id.Marketplace"
            android:exported="false" />

        <activity android:name="com.tahhu.id.DetailProductActivity"
            android:exported="false" />

        <service
            android:name="com.tahhu.id.BackgroundSoundService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.tahhu.id.RadioStreamin"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.tahhu.id.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>
</manifest>